<div class="row">

    <div class="col-md-9">

        <h4 class="mb-0 text-heading">Welcome , {{name}}!</h4>

    </div>

    <!-- <div class="col-md-3">
        <a class="btn btn-outline-primary float-right"  routerlink="./../newproperty">Add Property</a>
    </div> -->
    <br><br><br>
    <div class="col-md-6">
        <sb-card-view-details link="/profile" background="bg-primary" data-toggle="tooltip" data-placement="top" title="Click will redirect to profile page">
            <div class="card-body">{{dashDetails.num_users}} Total Users</div>
        </sb-card-view-details>
    </div>
    <div class="col-md-6">
        <sb-card-view-details link="/newproperty" background="bg-danger" data-toggle="tooltip" data-placement="top" title="Click will redirect to add new property page">
            <div class="card-body">{{dashDetails.num_visitors}} Total No of Visitors</div>
        </sb-card-view-details>
    </div>
    <div class="col-md-6">
        <sb-card-view-details link="/rentallistings" background="bg-warning" data-toggle="tooltip" data-placement="top" title="Click will redirect to rental listings page">
            <div class="card-body">{{dashDetails.num_rental_postings}} Total Rental Postings</div>
        </sb-card-view-details>
    </div>
    
    <div class="col-md-6">
        <sb-card-view-details link="/userlistings" background="bg-success" data-toggle="tooltip" data-placement="top" title="Click will redirect to user listings page">
            <div class="card-body">{{dashDetails.num_user_postings}} Total User Postings</div>
        </sb-card-view-details>
    </div>
    
</div>