<div class="row">
    
    <div class="col-md-9">
        
            <h4 class="mb-0 text-heading">Welcome back, User!</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At iusto, laboriosam. Atque</p>
        
        </div>
            <a  class="btn btn-outline-primary float-right" href="" ng-reflect-router-link="" routerlink="#">Add Property</a>
       <div class="col-md-3">
        <a  class="btn btn-outline-primary float-right" href="" ng-reflect-router-link="" routerlink="#">Add Property</a>
        
       </div>
    
    <div class="col-md-4">
        <sb-card-view-details link="/userlistings" background="bg-primary">
            <div class="card-body">20 Properties</div>
        </sb-card-view-details>
    </div>
    <div class="col-md-4">
        <sb-card-view-details link="/profile" background="bg-warning">
            <div class="card-body">1730 Views</div>
        </sb-card-view-details>
    </div>
    <div class="col-md-4">
        <sb-card-view-details link="/dashboard" background="bg-success">
            <div class="card-body">329 Visotors</div>
        </sb-card-view-details>
    </div>
    <div class="col-md-4">
        <sb-card-view-details link="/dashboard" background="bg-danger">
            <div class="card-body">10 Favorites</div>
        </sb-card-view-details>
    </div>
</div>