<sb-layout-dashboard>
    <sb-dashboard-head title="Property Rental Listings" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover bg-white border rounded-lg">
              <thead class="thead-sm thead-black">
                <tr>
                  <th scope="col" style="width:47%;" colspan="4" class="border-top-0 pt-5 pb-4">Listing title</th>
                  <th scope="col"  class="border-top-0 pt-5 pb-4">Email</th>
                  <th scope="col"  class="border-top-0 pt-5 pb-4">Avdailable</th>
                  <th scope="col" class="border-top-0 pt-5 pb-4">Phone</th>
                </tr>
              </thead>
              </table>
            </div>
            <!-- <h3 class="card-title mb-0 text-heading fs-22 lh-15">Property Listings</h3> -->
            <div class="table-responsive" *ngFor="let item of rentallistings">
                <table class="table table-hover bg-white border rounded-lg">
                  <tbody>
                    <tr class="shadow-hover-xs-2 bg-hover-white">
                      <td class="align-middle pt-6 pb-4 px-6 tbbb">
                        <div class="media">
                          <div class="w-120px mr-4 position-relative">
                            <a routerLink="../rentallistingsdetail/{{item.rental_id}}">
                              <img src="../../../../assets/img/house.png" alt="Home in Metric Way">
                            </a>
                        
                          </div>
                          <div class="media-body">
                            <a routerLink="../rentallistingsdetail/{{item.rental_id}}" class="text-dark hover-primary">
                              <h5 class="fs-16 mb-0 lh-18">{{item.name}}</h5>
                            </a>
                            <p class="mb-1 font-weight-500">{{item.address1}}</p>
                            <!-- <span class="text-heading lh-15 font-weight-bold fs-17">$2500</span> -->
                            <!-- <span class="text-gray-light">/month</span> -->
                          </div>
                        </div>
                      </td>
                      <td class="align-middle tccc"><a href="javascript:void(0)">{{ item?.email }}</a></td>
                      <td class="align-middle">
                        <span class="badge text-capitalize font-weight-normal fs-12 badge-success">Avialble</span>
                      </td>
                      <td class="align-middle"><a href="javascript:void(0)">{{ item?.phone }}</a></td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </sb-card>
</sb-layout-dashboard>
