<sb-layout-dashboard>
    <sb-dashboard-head title="Change Password" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card>
        <div class="card-body">
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="nf.form.valid && onSubmit()" #nf="ngForm">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <!-- <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Recovery</h3></div> -->
                                    <div class="card-body">
                                        <!-- <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div> -->
                                        <form>
                                            <div class="form-group">
                                                <div>
                                                <label class="small mb-1" for="username">Email</label>
                                                <input class="form-control py-4" id="username" type="email" 
                                                 placeholder="Enter email address" required 
                                                #username="ngModel" name="username" [(ngModel)]="username"/>
                                                
                                                <!-- <div class="alert-danger" *ngIf="username.errors && nf.submitted">
                                                    <div *ngIf="username.errors['required']">Username is required</div>
                                                    
                                                </div> -->
                                                  </div>
                                                <label class="small mb-1" for="old_password">Old Password</label>
                                                <input class="form-control py-4" id="old_password" type="password"
                                                 placeholder="Enter old password" required
                                                 #old_password="ngModel" name="old_password" [(ngModel)]="old_password"/>
                                                <label class="small mb-1" for="new_password">New Password</label>
                                                <input class="form-control py-4" id="new_password" type="password"
                                                  placeholder="Enter new password" required
                                                  #new_password="ngModel" name="new_password" [(ngModel)]="new_password"/>
                                                <label class="small mb-1" for="confirm_password">Confirm New Password</label>
                                                <input class="form-control py-4" id="confirm_password" type="password"
                                                  placeholder="Enter new confirm password" required
                                                  #confirm_password="ngModel" name="confirm_password" [(ngModel)]="confirm_password"/>
                                            </div>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <!-- <a class="btn btn-primary" >Change Password</a> -->
                                                <button class="btn btn-primary mr-0" >Change Password</button>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                
            </form>
        </div>
        
    </sb-card>
</sb-layout-dashboard>