<div class="row">

    <div class="col-md-9">

        <h4 class="mb-0 text-heading">Welcome , {{name}}!</h4>

    </div>

    <!-- <div class="col-md-3">
        <a class="btn btn-outline-primary float-right"  routerlink="../.././newproperty">Add Property</a>
    </div> -->
    <br><br><br>
    <div class="col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-primary">
            <div class="card-body">4 Total Properties</div>
        </sb-card-view-details>
    </div>
    <div class="col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning">
            <div class="card-body">10 Views</div>
        </sb-card-view-details>
    </div>
    <div class="col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-success">
            <div class="card-body">3 User postings</div>
        </sb-card-view-details>
    </div>
    <div class="col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger">
            <div class="card-body">5 Rental postings</div>
        </sb-card-view-details>
    </div>
</div>