<sb-layout-dashboard>
    <sb-dashboard-head title="Property Listings" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card>
        <div class="card-body">
            <!-- <h3 class="card-title mb-0 text-heading fs-22 lh-15">Property Listings</h3> -->
            <div class="table-responsive">
            <table class="table table-hover bg-white border rounded-lg">
              <thead class="thead-sm thead-black">
                <tr>
                  <th scope="col" style="width:43%;" colspan="4" class="border-top-0 pt-5 pb-4">Listing title</th>
                  <th scope="col" style="width:21%;" class="border-top-0 pt-5 pb-4">Date Avdailable</th>
                  <th scope="col" style="width:10%;" class="border-top-0 pt-5 pb-4">Status</th>
                  <th scope="col" class="border-top-0 pt-5 pb-4">Type of Accommodation</th>
                  <th scope="col" class="border-top-0 pt-5 pb-4">Action</th>
                </tr>
              </thead>
              </table>
            </div>
            <div class="table-responsive" *ngFor="let item of userlistings">
                <table class="table table-hover bg-white border rounded-lg">
                  
                  <tbody>
                    <tr class="shadow-hover-xs-2 bg-hover-white">
                      <td class="align-middle pt-6 pb-4 tbbb">
                        <div class="media">
                          <div class="w-120px mr-4 position-relative">
                            <a href="single-property-1.html">
                              <img src="../../../../assets/img/house.png" alt="Home in Metric Way">
                            </a>
                        
                          </div>
                          <div class="media-body">
                            <a routerLink="../userlistingsdetail/{{item.posting_id}}" class="text-dark hover-primary">
                              <h5 class="fs-16 mb-0 lh-18">{{item.name}}</h5>
                            </a>
                            <p class="mb-1 font-weight-500">{{item.address1}}</p>
                            <span class="text-heading lh-15 font-weight-bold fs-17">$ {{item.approx_rent}}</span>
                            <span class="text-gray-light">/Month</span>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">{{item.accomedated_date | date:'MM-dd-yy'}}</td>
                      <td class="align-middle">
                        <span class="badge text-capitalize font-weight-normal fs-12 badge badge-success">Avialble</span>
                      </td>
                      <td class="align-middle">{{item.accomedation_type}}</td>
                      <!-- <td style="padding-top:40px"><button class="btn btn-secondary " (click)="navigateWithId(item.UserPosting.posting_id)">Edit</button></td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              
        </div>
    </sb-card>
</sb-layout-dashboard>
