<sb-layout-dashboard>
    <sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-dashboard-cards></sb-dashboard-cards>
    <!-- <sb-dashboard-charts></sb-dashboard-charts>
    <sb-dashboard-tables></sb-dashboard-tables> -->
</sb-layout-dashboard>
<div class="form-group col-md-12 px-4 mb-md-0">
    <label for="zipCode" class="text-heading">Description</label>
    <textarea id="description"  class="form-control form-control-md" 
    name="descriptio" [(ngModel)]="description" #descriptio=""ngModel rows="4" cols="60"></textarea>
    name="descriptio" placeholder="You can details related to property" [(ngModel)]="description" #descriptio=""ngModel rows="4" cols="60"></textarea>
</div>
</div>  <br>      
<div class="d-flex justify-content-end flex-wrap">
    