<sb-layout-dashboard>
    <sb-dashboard-head title="Property Listings" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card>
        <div class="card-body">
            <section class="pb-7 border-bottom">
                <ul class="list-inline d-sm-flex align-items-sm-center mb-2">
                    <li class="list-inline-item badge badge-orange mr-2">Avialble</li>
                    <li class="list-inline-item badge badge-primary mr-3">
                        {{ userlisting?.accomedation_type }}
                    </li>
                    <li class="list-inline-item mr-2 mt-2 mt-sm-0">
                        <i class="fal fa-clock mr-1"></i>1 month ago
                    </li>
                </ul>
                <div class="d-sm-flex justify-content-sm-between">
                    <div>
                        <h2 class="fs-35 font-weight-600 lh-15 text-heading">
                            {{ userlisting?.name }}
                        </h2>
                        <p class="mb-0">
                            <i class="fas fa-map-marker-alt"></i><b>Address:</b> {{ userlisting?.address1
                            }},{{ userlisting?.address2 }},{{ userlisting?.city }}
                        </p>
                    </div>
                    <div class="mt-2 text-lg-right">
                        <!-- <p class="fs-22 text-heading font-weight-bold mb-0">${{userlisting?.UserPosting?.approx_rent}}</p> -->
                        <p class="mb-0">${{ userlisting?.approx_rent }}/Person</p>
                    </div>
                </div>
                <h4 class="fs-22 text-heading mt-6 mb-2">Description : </h4>
                <p class="mb-0 lh-214">
                    {{userlisting?.description}}
                </p>
            </section>

            <section class="pt-6 border-bottom pb-4 pt-4">
                <h4 class="fs-22 text-heading mb-4">Additional Details</h4>
                <div class="row">
                     
                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Rental id : </dt>
                        <dd>{{ userlisting?.posting_id }}</dd>
                    </dl>

                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Tenant Name :</dt>
                        <dd><i>{{ userlisting?.first_name }}</i></dd>
                    </dl>
                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Tenant Email :</dt>
                        <dd><a href="{{ userlisting?.email }}">{{ userlisting?.email }}</a></dd>
                    </dl>

                    

                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">
                            Property Name :
                        </dt>
                        <dd><i>{{ userlisting?.name }}</i></dd>
                    </dl>

                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Rent/Month :</dt>
                        <dd>{{ userlisting?.approx_rent }}$/ Person</dd>
                    </dl>
                    
                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">
                            Property status :
                        </dt>
                        <dd>Avialble</dd>
                    </dl>
                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">No of people living :</dt>
                        <dd>{{ userlisting?.num_people_living }}</dd>
                    </dl>
                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">No of people can accommodate :</dt>
                        <dd>{{ userlisting?.num_people }}</dd>
                    </dl>
                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">No of days accommodation avialble :</dt>
                        <dd>{{ userlisting?.num_days }}</dd>
                    </dl>
                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">No of Bedrooms :</dt>
                        <dd>{{ userlisting?.num_bedrooms }}</dd>
                    </dl>
                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">No of Bathrooms :</dt>
                        <dd>{{ userlisting?.num_bathrooms }}</dd>
                    </dl>
                    
                    <dl class="col-sm-6 mb-0 d-flex">
                        <dt class="w-110px fs-14 font-weight-500 text-heading pr-2">Property available date :</dt>
                        <dd>{{ userlisting?.available_date }}</dd>
                    </dl>
                    
    
                </div>
            </section>
            <a href = "mailto: {{userlisting?.email}}?subject=Looking for lease&body=Hi Tenent,%0A%0AGreeting of the Day!%0A%0AFrom Northwest Missouri State University am looking for a Apartment to rent. If you have any availability, please revert to me.!%0AThanks,%0AHave a great day!">
                <button class="btn btn-success mt-4 float-right" >
               Contact tenant
            </button></a>
        </div>
    </sb-card>
</sb-layout-dashboard>